<div id="listing-working-papers" class="quarto-listing quarto-listing-container-default">
  <div class="list quarto-listing-default">
    <div class="quarto-post image-left" data-index="0" data-categories="power,meta-analysis,dependent effect sizes,robust variance estimation" data-listing-date-sort="1689915600000" data-listing-file-modified-sort="1716744827232" data-listing-date-modified-sort="NaN" data-listing-reading-time-sort="2" data-listing-word-count-sort="211">
  <div class="body">
  <h3 class="no-anchor listing-title">
  <a href="http://localhost:4816/publication/Conducting-POMADE/" class="no-external" data-original-href="http://localhost:4816/publication/Conducting-POMADE/index.html">Conducting power analysis for meta-analysis of dependent effect sizes: Common guidelines and an introduction to the POMADE R package</a>
  </h3>
  <div class="listing-subtitle">
<a href="http://localhost:4816/publication/Conducting-POMADE/" class="no-external" data-original-href="http://localhost:4816/publication/Conducting-POMADE/index.html"></a>
</div>
</div>
<div class="metadata">
<a href="http://localhost:4816/publication/Conducting-POMADE/" class="no-external" data-original-href="http://localhost:4816/publication/Conducting-POMADE/index.html">
<div class="listing-date">
Jul 21, 2023
</div>
<div class="listing-author">
Mikkel H. Vembye, James E. Pustejovsky, Terri D. Pigott
</div>
</a>
</div>
</div></div>
<div class="listing-no-matching d-none">
No matching items
</div>
</div>